.fill-space {
    flex: 1 1 auto;
}

.toolbar {
    height: 50px;
}

.rightLinks a {
    text-decoration: none;
    color: white;
    font-size: medium;
}

.rightLinks a:hover {
    text-decoration: underline;
}